@charset "utf-8";

// Customization

// You can easily customize Bulma with your own variables.
// Just uncomment the following block to see the result.

/*
// 1. Import the initial variables
@import "../node_modules/bulma/sass/utilities/initial-variables";

// 2. Set your own initial variables
// Update the blue shade, used for links
$blue: #06bcef;
// Add pink and its invert
$pink: #ff8080;
$pink-invert: #fff;
// Update the sans-serif font family
$family-sans-serif: "Helvetica", "Arial", sans-serif;

// 3. Set the derived variables
// Use the new pink as the primary color
$primary: $pink;
$primary-invert: $pink-invert;

// 4. Import the rest of Bulma
*/


@import "../node_modules/bulma/bulma";
@import "hover.scss";

$tag-color: #d6f6ff;

p span {
	display: block;
}

.hide {
    display:none;
}

.tile.is-ancestor {
    @include until($tablet) {
    margin-top: 0 !important;
  }
}



html,
    body {
        font-family: 'Roboto Slab';
    }

.intro-text {
    text-align: left !important;
}

.title {
    font-family: 'Raleway';
}

.description .title {
    color: white !important;
}

.intro-box {
    margin-top: 6vh;
}

.box {
  /*min-height: 100px;*/
  // display: flex !important;
    flex-wrap: wrap;
    align-content: center; /* used this for multiple child */
    align-items: center;
    background-size: cover !important;
    position: relative;
}


.tag {
font-size: 1.25rem !important;
margin-bottom: 10px;
padding-right: 10px;
background-color: $tag-color !important;
color: white !important;
}

.tag-box {
    margin-top: 1rem;
}

.tag.is-pulled-right {
	font-size: 0.75rem !important;
    margin-left: 0.4rem;
    border: 0.5px solid #209cee3b;
    box-shadow: 3px 2px #00000030;
    text-decoration: none !important;
}

.description {
    // display: block;
    position: relative;
    color: white;
}

.gradient {
    position: absolute;
    width: 100%;
    height: 100%;
    margin: -1.25rem 0 0 -1.25rem;
    border-radius: 5px;
    background: linear-gradient(
        to bottom,
        rgba(255, 0, 0, 0),
        rgba(0, 0, 0, .5)
      )
}


.hero-bkg-animated {
    /*background: #4a4a4a url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='36' height='72' viewBox='0 0 36 72'%3E%3Cg fill-rule='evenodd'%3E%3Cg fill='%23FF475D' fill-opacity='0.14'%3E%3Cpath d='M2 6h12L8 18 2 6zm18 36h12l-6 12-6-12z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E") repeat 0 0;*/

    background: #fff url("data:image/svg+xml,%3Csvg width='100' height='20' viewBox='0 0 100 20' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M21.184 20c.357-.13.72-.264 1.088-.402l1.768-.661C33.64 15.347 39.647 14 50 14c10.271 0 15.362 1.222 24.629 4.928.955.383 1.869.74 2.75 1.072h6.225c-2.51-.73-5.139-1.691-8.233-2.928C65.888 13.278 60.562 12 50 12c-10.626 0-16.855 1.397-26.66 5.063l-1.767.662c-2.475.923-4.66 1.674-6.724 2.275h6.335zm0-20C13.258 2.892 8.077 4 0 4V2c5.744 0 9.951-.574 14.85-2h6.334zM77.38 0C85.239 2.966 90.502 4 100 4V2c-6.842 0-11.386-.542-16.396-2h-6.225zM0 14c8.44 0 13.718-1.21 22.272-4.402l1.768-.661C33.64 5.347 39.647 4 50 4c10.271 0 15.362 1.222 24.629 4.928C84.112 12.722 89.438 14 100 14v-2c-10.271 0-15.362-1.222-24.629-4.928C65.888 3.278 60.562 2 50 2 39.374 2 33.145 3.397 23.34 7.063l-1.767.662C13.223 10.84 8.163 12 0 12v2z' fill='%2363fff8' fill-opacity='0.4' fill-rule='evenodd'/%3E%3C/svg%3E");
    box-sizing: border-box;
    padding-top: 5vh;
    -webkit-animation: slide 20s linear infinite;
}
@-webkit-keyframes slide {
      from { background-position: 0 0; }
      to { background-position: -400px 0; }
}

.tile.is-parent {
    padding: 0 !important;
    margin: 0.75rem;
    position: relative;
}
