{{/*The template to manage the project grid*/}}
{{ define "projects"}}
    {{ range $index, $element := .Projects }}
        {{ $m := modN 3 $index }}
        {{ if eq $m 0 }}
            {{ if ne $index 0}}
                </div>
            {{ end }}
            <div class="tile is-ancestor">
        {{ end }}

        <div class="tile is-parent">
            <div class="tile is-child box" style="background:{{ safeCSS $element.Background }}">
               
                <h2 class="title">
                  {{ $element.Title }}
                </h2>

                <!-- Project Description -->
                <div>
                  {{ $element.Description }}
                </div>
                <!-- //Project Description -->

                <!-- TAG BOX -->
                <div class="tag-box">
                    {{ range $element.Tags }}
                    <a class="tag is-pulled-right">
                        {{ . }}
                    </a>
                    {{ end }}
                </div>
                <!-- //TAG BOX -->

                <!-- MODAL -->
                <div class="modal">
                  <div class="modal-background"></div>
                  <div class="modal-content">
                    <!-- Any other Bulma elements you want -->
                  </div>
                  <button class="modal-close is-large" aria-label="close"></button>
                </div>
                <!-- //MODAL -->
            </div>
        </div>
    {{ end }}
    </div>

{{ end }}
